
*{
    margin: 0;
    padding:0%;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-size:cover;
    height:640px;
    background-attachment: fixed;
    display: block;
}
.my-background{
    background-image:linear-gradient(45deg,rgba(255,255,255,0.62),rgba(4,4,4,1)),url('../img/background\ color.jpg');
    width: 100%; 
    height:200px ;
    background-repeat: no-repeat;
}
 

    
    
    
.welcome{
    justify-content:center;
    font-size:60px;
    padding: 100px;
    color: whitesmoke;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    background-image: url("../background-final.jpg");
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
  
}
  .instagram{
    background-color:grey;
    text-decoration-line: none;
    color: whitesmoke;
    font-size: 35px;
    
  }
    

nav{
    display:flex;
    background-color:whitesmoke;
    justify-content: space-around;
    min-height: 8vh;
    color: rgb(8, 6, 6);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 7px;
    position: fixed;
    width: 100%;
  
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    letter-spacing:normal;
    list-style: none;
    font-weight: bold;
    color:black;
    font-family: 'Poppins', sans-serif;;
    position: relative;
    
}

.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(49, 36, 36);
    list-style:none;
    display: block;
    padding: 25px;
}

.burger div{
    width: 30px;
    background-color:rgb(22, 21, 16);
    color: black;
    margin: 5px;
    height: 3px;
   
}

@media screen and (max-width:1024px){
        
        .nav-links{
            width: 60%;
            
        }
}

@media screen and (max-width:768px){
    body{
      overflow-x: hidden;
      cursor: pointer;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 10vh;
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: fill-box;
        transform: translateX(100%); 
        transition: transform 0.5 ease-in;
    } 
    .nav-links li{
      opacity: 0;
    } 
    .burger{
      display: block;
    }
  }
.navigation{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px
  );
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



    
